html, body 
{
	margin: 0px; /* Comentario en CSS*/
	padding: 0px; /* Los margenes son reducidos a 0*/
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	background: #15202B;
}

body{
	margin : auto;
	font-family: Arial;
	font-size: 11px;
	color: #FFF;
}

a, img{
  outline: none; border: none;
}

#post_box{
	position: relative;
	width: auto;
	margin: auto;
	height: 0px;
	top: -55px;
	text-align: center;
	background: #253341;
}

#panel_app{
	position: relative;
	width: 100%;
	border-radius: 5px;
	margin: auto;
	height: 215px;
	background-color: #253341;
}

#main_panel, #edit_panel{
	position: relative;
	width: auto;
	margin: auto;
	height: 90%;
	overflow: auto;
	border: 1px solid #253341;
	padding: 20px;
}

#main_panel_2{
	position: relative;
	width: auto;
	margin: auto;
	height: 90%;
	overflow: auto;
	border: 1px solid #253341;
	padding: 20px;
}

#txt_post{
	position: relative;
	border: 1px solid #AAA;
	border-radius: 4px;
	width: 90%;
	height: 50px;
	background: #15202B;
	color: #FFF;
}

.text-danger{
	color: #F00;
}

.cajatexto{
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #1DA1F2;
	width: 200px;
	color: #FFF;
	background: #15202B;
}

.cajatexto_search{
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #1DA1F2;
	width: 620px;
	color: #FFF;
	background: #15202B;
}

.post_block{
    position: relative;
	width: 95%;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	background: #15202B;
	height: auto;
	border: 1px solid #253341;
	border-top: 1px solid #1DA1F2;
}

.post_block:hover{
	background: #192734;
}

.published_date{
	font-size: 10px;
    font-family: "Verdana";
    position: relative;
    color: #BBB;
	margin: 5px;
	text-align: right;
}

.post_detail{
	font-size: 14px;
    font-family: "Verdana";
    position: relative;
    color: #FFF;
	margin: 5px;
	text-align: justify;
}

.boton{
	border: 0px;
	background: #1DA1F2;
	color: #FFF;
	height: 28px;
	border-radius: 4px;
	cursor: pointer;
}

#btn_save, #btn_edit {
	position: relative;
	width: 80%;
	margin-top: 10px;
	margin-right: 10px; 
}

#btn_logout, #btn_return {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 30px;
	width: 30px;
}

#btn_registrarse{
	position: absolute;
	right: 15px;
	top: 0px;
	height: 30px;
	width: 30px;
	background: transparent;
	border: transparent;
	cursor: pointer;
}

#btn_notificaciones{
	position: absolute;
	right: 35px;
	top: 0px;
	height: 30px;
	width: 30px;
	background: transparent;
	border: transparent;
} 

#btn_carrito{
	position: absolute;
	right: 70px;
	top: 0px;
	height: 30px;
	width: 30px;
	background: transparent;
	border: transparent;
} 

#btn_deseos{
	position: absolute;
	right: 105px;
	top: 0px;
	height: 30px;
	width: 30px;
	background: transparent;
	border: transparent;
}

#btn_carrito_store{
	position: absolute;
	right: 45px;
	top: 0px;
	height: 30px;
	width: 30px;
	background: transparent;
	border: transparent;
} 

#btn_deseos_store{
	position: absolute;
	right: 77px;
	top: 0px;
	height: 30px;
	width: 30px;
	background: transparent;
	border: transparent;
}

#btn_return {
	background: #3B5998;
}

#btn_logout {
	background: #DC4E41;
}

#btn_search {
	position: relative;
	margin-top: 10px;
	font-size: 15px;
}

.imgpost{
	float: left;
	clear: both;
	position: relative;
	top: -18px;
	left: 5px;
	margin-right: 15px;
	border-radius: 100px;
}

#icono_marketplace{
	margin-top: 5px;
	border-radius: 100px;
}

#user_box{
	position: relative;
	width: 100%;
	height: 210px;
	margin: auto;
	color: #AAA;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background: #253341;
}

#user_box_prod{
	position: relative;
	width: 100%;
	height: 30px;
	margin: auto;
	color: #AAA;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background: #253341;
}

#panel_app_prod{
	position: relative;
	width: 100%;
	border-radius: 5px;
	margin: auto;
	height: 30px;
	background-color: #15202B;
}

#user_box span{
	float: left;
	clear: both;
	position: absolute;
	top: 22px;
	left: 75px;
	color: #FFF;
	text-shadow: 1px 1px 0px #666;
}

#photo_profile{
	float: left;
	clear: both;
	position: relative;
	top: 10px;
	left: 10px;
	margin-right: 15px;
	border-radius: 100px;
	border: 3px solid #FFF;
}

#actions{
	position: relative;
	bottom: 5px;
	text-align: right;
}

#actions a {
	font-size: 20px;
	margin: 5px;
	text-decoration: none;
	background: unset;
	border: none;
	cursor: pointer;
}

#btn_editar {
	color: #4CAF50;
}

#btn_eliminar {
	color: #DC4E41;
}

.form-group-photo {
	position: absolute;
	top: 20px;
	left: 400px;
	color: #FFF;
}

.form-group-photo img{
	margin-bottom: 20px;
}

#msg_box_container{
	position: fixed;
	margin-left: auto;
	left:0;
	right:10px;
	width:350px;
	top:10px;
	z-index: 100;
	font-size: 11px;
	font-family: 'Arial';
}

.msg_box{
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

.msg_box_user{
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

.msg_box_user span{
	padding-bottom:10px;
}

.error{
	background: #C00000;
}

.success{
	background: #29CC70;
}

.info{
	background: #1F8DB1;
}

.warning{
	background: #FF9900;
}

/*table{
    border-collapse: collapse;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

table tr:nth-child(1){
    color: #080808;   
    background-color: #78ed88;
}

table tr:nth-child(odd){
    color: #080808;   
    background-color: #fcfcfc;
}

table tr:nth-child(even){
    color: #080808;   
    background-color: #fcfcfc;
}

table th{
    color: #ffffff;
    background-color: #1DA1F2;
    border-bottom: solid 5px #0F362D;
	border-radius: 5;
    border: solid 1px black;
}

table td{
    border: solid 1px black;
}

thead{
    font-weight: bold;
    background: #DBEAF9;
    text-align: center;
    text-transform: uppercase;
}

td:last-child{
    color: rgb(228, 17, 17);
    font-weight: Century Ghotic;
    text-decoration: underline;
}

td{
    border: 1px solid #CCC;
    padding: 5px;
}*/

#txt_nombre{
	height: 20%;
}

.btnPerfil{
	bottom: 2px;
	border: 1px solid transparent;
	background: transparent;
	color: #2187c7;
	height: 25px;
	text-decoration: underline;
	width: 150px;
	border-radius: 5px;
	cursor: pointer;
	font-family: Century Gothic;
	font-weight: bold;
	font-size: 15px;
}

.div_productos{
	position: relative;
	margin: 20px;
	float: left;
	cursor: pointer;
	background-position: top center;
	background-color: #253341;
	text-align: center;
	border-color: #4f657a;
	border-style: ridge;
	border-radius: 20px;
}

.div_productos:hover{
	background-color: #435363;
	-webkit-transform:scale(1.1);
}

.nombre_producto{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: rgb(23, 221, 188);
}

.nombre_real{
	font-family: Century Gothic;
	font-weight: 600;
	font-size: 20px;
}

.estrellas{
	font-family: Century Gothic;
	font-weight: 600;
	font-size: 20px;
}

#foto_file{
	border-radius: 15px;
}

#txt_prod_descripcion{
	width: 450px;
	background: transparent;
	border: transparent;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 5px;
	color: #1c7dcc;
	font-size: 15px;
    text-decoration: underline;
}

.unidades_vendidas{
	margin: 5px;
	font-family: Century Gothic;
	font-weight: bold;
	font-size: 20px;	
}

.precio{
	font-family: Century Gothic;
	font-size: 25px;	
	color: yellow;
	background: #4d6a88;
	border-radius: 20px;
	padding: 3px;
}

.div_tiendas{
	position: relative;
	margin: 20px;
	padding: 5px;
	float: left;
	cursor: pointer;
	background-position: top center;
	background-color: #253341;
	text-align: center;
	border-color: #567ea5;
	border-style: solid;
	border-radius: 20px;
}

.div_tiendas:hover{
	background-color: #435363;
}

#carrucel_producto{
	position: relative;
	margin: 16px;
	float: left;
	cursor: pointer;
	background-position: top center;
	width: 600px;
}

#carousel_buyer{
	width: 230px;
	position: relative;
	left: 3.5%;
	margin-top: 5px;
	border-radius: 20px;
}

#carousel_carrito{
	width: 200px;
	position: relative;
	margin-top: 5px;
	margin: 8px;
	border-radius: 20px;
}

#carousel_buyer_deseos_tienda{
	width: 213px;
	position: relative;
	margin-top: 5px;
	margin: 8px;
	border-radius: 20px;
}

.actions_products{
	position: relative;
	left: 25%;
	text-align: center;
	height: 30px;
	width: 115px;
}

.btn_ver, .btn_deseos_prod, .btn_carrito_prod{
    font-size: 20px;
	float: left;
	border: transparent;
	background: transparent;
}


.pre_prod{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 15px;
}

.resp_prod{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 20px;
	padding: 5px;
	color: #1c7dcc;
}

#info_productos{
	position: relative;
	margin: 16px;
	float: left;
	cursor: pointer;
	background-position: top center;
	background-color: #3f4a55;
	padding: 1%;
	height: 450px;
	width: 640px;
	border-color: #4f657a;
	border-style: ridge;
	border-radius: 20px;
}

#div_info1, #actions_productos{
	position: relative;
	width: auto;
	margin: auto;
}

#div_info1{
	height: 68%;
}

#actions_productos{
	background-color: #161d24;
	height: 12%;
	border-color: #4f657a;
	border-style: ridge;
	border-radius: 20px;
}

.div_info{
	padding: 5px;
	position: relative;
	margin: 10px;
	float: left;
	cursor: pointer;
	background-position: top center;
	background-color: #253341;
	text-align: center;
	border-color: #4f657a;
	border-style: ridge;
	border-radius: 20px;
}

#prod_comprar, #prod_deseos, #prod_carrito{
	position: relative;
	left: 11%;
	margin: 3px;
}

#suscribirse {
	margin: 2px;
	position: relative;
	left: 30%;
}

#txt_cantidad_prod{
	background-color: #cadaeb;;
	border-color: #4f657a;
	border-style: ridge;
	border-radius: 10px;
	width: 100px;
	height: 30px;
	position: relative;
	left: 35%;
	margin: 5px;
	font-size: 15px;
}

#div_suscribirse{
	background-color: #161d24;
	height: 12%;
	border-color: #4f657a;
	border-style: ridge;
	border-radius: 20px;
}

#btn_eliminar_deseo{
	position: relative;
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
}

.actions_carrito{
	position: relative;
	margin: 3px;
	text-decoration: none;
	font-size: 20px;
}

.actions_store{
	position: relative;
	margin: 3px;
	text-decoration: none;
	font-size: 20px;
	border: transparent;
	background: transparent;
	float: left;
	left: 15%;
}

#btn_disminuir_producto_carrito{
	margin: 5px;
	text-decoration: none;
	font-size: 20px;
}

#btn_aumentar_producto_carrito{
	margin: 5px;
	text-decoration: none;
	font-size: 20px;
}

.cantidad_productos{
	margin: 5px;
	font-family: Century Gothic;
	font-weight: bold;
    background-color: #45978c;
	padding: 2px;
	color: rgb(36, 33, 33);
	font-size: 20px;	
	border-color: #4f657a;
	border-style: ridge;
	border-radius: 20px;
}

.precio_2{
	font-family: Century Gothic;
	font-size: 25px;	
	color: yellow;
	padding: 3px;
}

#panel_app_carrito{
	position: relative;
	width: 100%;
	border-radius: 5px;
	margin: auto;
	height: 49px;
	background-color: #15202B;
}

#user_box_carrito{
	position: relative;
	width: 100%;
	height: 65px;
	margin: auto;
	color: #AAA;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background: #253341;
}

#user_box_carrito span{
	float: left;
	clear: both;
	position: absolute;
	top: 22px;
	left: 75px;
	color: #FFF;
	text-shadow: 1px 1px 0px #666;
}

#panel_app_deseos{
	position: relative;
	width: 100%;
	border-radius: 5px;
	margin: auto;
	height: 65px;
	background-color: #15202B;
}

#user_box_deseos{
	position: relative;
	width: 100%;
	height: 65px;
	margin: auto;
	color: #AAA;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background: #253341;
}

#user_box_deseos span{
	float: left;
	clear: both;
	position: absolute;
	top: 22px;
	left: 75px;
	color: #FFF;
	text-shadow: 1px 1px 0px #666;
}

#info_compra{
	position: relative;
	margin-top: 45px;
	padding: 5px;
	float: left;
	cursor: pointer;
	background-position: top center;
	background-color: #253341;
	text-align: center;
	border-color: #4f657a;
	border-style: dashed;
}

#prod_comprar_carrito{
	position: relative;
	left: 0%;
}

.info_compra2{
	font-family: Century Gothic;
	font-weight: 600;
	font-size: 20px;
}

.info_compra3{
	font-family: Century Gothic;
	font-weight: 600;
	color: yellow;
	font-size: 28px;
}

#main_panel_carrito{
	position: relative;
	width: 81%;
	margin: auto;
	float: left;
	height: 100%;
	overflow: auto;
	padding: 20px;
}

#btn_logout_tienda{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 30px;
	width: 30px;
}

.txt_prod{
	width: 135px;
	background: transparent;
	border: transparent;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 5px;
	color: #1c7dcc;
	font-size: 15px;
    text-decoration: underline;
}

.txt_prod_search{
	width: 400px;
	background: transparent;
	border: transparent;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 5px;
	color: #1c7dcc;
	font-size: 15px;
    text-decoration: underline;
}

#action_editar_prod{
	position: relative;
	top: 40px;
	height: 50px;
}

#div_info_edit_prod{
	height: 90%;
}

.pre_prod_2{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 15px;
}

#prod_edit{
	position: relative;
	text-align: center;
	width: 95%;
	left: 1.5%;
	margin: 3px;
	top: 30px;
}

#prod_edit_1{
	position: relative;
	text-align: center;
	width: 638px;
	left: -3%;
	margin: 3px;
	top: 20px;
	border-radius: 10px;
}

#photo_prod{
	position: relative;
	margin: 16px;
	float: left;
	cursor: pointer;
	background-position: top center;
	background-color: #3f4a55;
	padding: 1%;
	height: 450px;
	width: 640px;
	border-color: #4f657a;
	border-style: ridge;
	border-radius: 20px;
}

#photo_product{
	float: left;
	clear: both;
	position: relative;
	top: 10px;
	left: 10px;
	margin-right: 15px;
	border-radius: 5px;
	border: 3px solid #FFF;
}

#select_categoria{
	width: 135px;
	font-size: 13px;
}

.cant_per_prod{
	font-family: Century Gothic;
	font-weight: 600;
	font-size: 20px;
	margin: 10px;
}

#user_box_deseos_tienda{
	position: relative;
	width: 100%;
	height: 65px;
	margin: auto;
	color: #AAA;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background: #253341;
}

#user_box_deseos_tienda span{
	float: left;
	clear: both;
	position: relative;
	top: 17px;
	color: #FFF;
	text-shadow: 1px 1px 0px #666;
}

#photo_profile_deseos_tienda{
	float: left;
	clear: both;
	position: relative;
	top: -15px;
	margin: 5px;
	border-radius: 100px;
	border: 3px solid #FFF;
}

#main_panel_deseos_carrito{
	position: relative;
	width: auto;
	margin: auto;
	height: 90%;
	overflow: auto;
	padding: 20px;
}

#btn_create_producto{
    margin: 5px;
	float: right;
}

#btn_create_categoria{
	margin: 5px;
	float: right;
}

#txt_create_categoria{
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #0c0c0c;
	border-style: ridge;
	font-size: 15px;
	width: 440px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 12px;
	float: left;
}

#icono_marketplace_create_product{
	position: relative;
	left: 15%;
	top: 70px;
	border-radius: 100px;
}

#span_icon{
	position: relative;
	top: 210px;
	color: #1e9aa3;
	left: -3%;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: italic;
	text-decoration: blink;
}

#div_calificacion{
	position: relative;
	margin: 16px;
	float: right;
	right: 16%;
	cursor: pointer;
	background-position: top center;
	background-color: #3f4a55;
	padding: 1%;
	height: 120px;
	width: 230px;
	border-color: #4f657a;
	border-style: ridge;
	border-radius: 20px;
}

#select_calificacion{
	width: 200px;
	height: 35px;
	font-size: 25px;
	border-radius: 20px;
	background-color: #253341;;
	border-color: #4f657a;
	border-style: ridge;
}

#btn_calificar{
	position: relative;
	left: 12.5%
}



@keyframes fadeout {
    from { opacity: 1; visibility: visible; }
    to   { opacity: 0; visibility: hidden; }
}

@keyframes fadein {
    from { opacity: 0; visibility: hidden; }
    to   { opacity: 1; visibility: visible; }
}




